<!--
  ~                       ######
  ~                       ######
  ~ ############    ####( ######  #####. ######  ############   ############
  ~ #############  #####( ######  #####. ######  #############  #############
  ~        ######  #####( ######  #####. ######  #####  ######  #####  ######
  ~ ###### ######  #####( ######  #####. ######  #####  #####   #####  ######
  ~ ###### ######  #####( ######  #####. ######  #####          #####  ######
  ~ #############  #############  #############  #############  #####  ######
  ~  ############   ############  #############   ############  #####  ######
  ~                                      ######
  ~                               #############
  ~                               ############
  ~
  ~ Adyen Payment Module
  ~
  ~ Copyright (c) 2019 Adyen B.V.
  ~ This file is open source and available under the MIT license.
  ~ See the LICENSE file for more info.
  ~
  ~ Author: Adyen <magento@adyen.com>
  -->
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        bootstrap="./bootstrap.php"
>
    <testsuites>
        <testsuite name="default">
            <directory>.</directory>
        </testsuite>
    </testsuites>
</phpunit>
