
<table class="message-details" >
    <caption>Mail message from magento</caption>
    <th>Merchant {{var merhcantAccount}}<th>
    <tr>
        <td><strong>{{trans "PSP Reference"}}</strong></td>
        <td>{{var pspReference}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Merchant Reference"}}</strong></td>
        <td>{{var merchantReference}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Are you using headless integration?"}}</strong></td>
        <td>{{var headless}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "What payment method is causing the problem?"}}</strong></td>
        <td>{{var paymentMethod}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Terminal ID number"}}</strong></td>
        <td>{{var terminalId}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Order history comments"}}</strong></td>
        <td>{{var orderHistoryComments}}</td>
    </tr>
</table>
