<!--@subject {{var subject}} @-->
<table class="message-details" >
    <caption>Mail message from magento</caption>
    <th>Topic {{var topic}} Magento<th>
      <tr>
        <td><strong>{{trans "Subject"}}</strong></td>
        <td>{{var subject}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Merchant email"}}</strong></td>
        <td>{{var email}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Psp reference"}}</strong></td>
        <td>{{var pspReference}}</td>
    </tr>
    <tr>
        <td><strong>{{trans " Merchant reference"}}</strong></td>
        <td>{{var merchantReference}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Are you using headless integration?"}}</strong></td>
        <td>{{var headless}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "What payment method is causing the problem? "}}</strong></td>
        <td>{{var paymentMethod}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "TerminalId"}}</strong></td>
        <td>{{var terminalId}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Order History comments"}}</strong></td>
        <td>{{var orderHistoryComments}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Description"}}</strong></td>
        <td>{{var orderDescription}}</td>
    </tr>
    <!--Configuration settings-->
    <tr>
        <td><strong>{{trans "Magento edition"}}</strong></td>
        <td>{{var magentoEdition}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Magento version"}}</strong></td>
        <td>{{var magentoVersion}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Plugin version"}}</strong></td>
        <td>{{var pluginVersion}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Merchant account"}}</strong></td>
        <td>{{var merchantAccount}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Environment live or test"}}</strong></td>
        <td>{{var environmentMode}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Are payment methods enabled"}}</strong></td>
        <td>{{var paymentMethodsEnabled}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Notification username set"}}</strong></td>
        <td>{{var notificationUsername}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Notification password set"}}</strong></td>
        <td>{{var notificationPassword}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Moto enabled"}}</strong></td>
        <td>{{var motoEnabled}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "PBL enabled or not?"}}</strong></td>
        <td>{{var pblEnabled}}</td>
    </tr>

</table>
