<?xml version="1.0"?>
<!--
/**
 *                       ######
 *                       ######
 * ############    ####( ######  #####. ######  ############   ############
 * #############  #####( ######  #####. ######  #############  #############
 *        ######  #####( ######  #####. ######  #####  ######  #####  ######
 * ###### ######  #####( ######  #####. ######  #####  #####   #####  ######
 * ###### ######  #####( ######  #####. ######  #####          #####  ######
 * #############  #############  #############  #############  #####  ######
 *  ############   ############  #############   ############  #####  ######
 *                                      ######
 *                               #############
 *                               ############
 *
 * Adyen Payment module (https://www.adyen.com/)
 *
 * Copyright (c) 2015 Adyen BV (https://www.adyen.com/)
 * See LICENSE.txt for license details.
 *
 * Author: Adyen <magento@adyen.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <adyen_abstract>
                <active>0</active>
                <model>AdyenPaymentGenericFacade</model>
                <order_status>pending</order_status>
                <demo_mode>1</demo_mode>
                <debug>1</debug>
                <title_renderer>title_image</title_renderer>
                <sepa_flow>sale</sepa_flow>
                <split_payments_refund_strategy>1</split_payments_refund_strategy>
                <return_path>checkout/cart</return_path>
                <group>adyen</group>
                <notifications_can_cancel>1</notifications_can_cancel>
                <charged_currency>display</charged_currency>
                <clone_quote>0</clone_quote>
                <house_number_street_line>0</house_number_street_line>
            </adyen_abstract>
            <adyen_cc>
                <active>1</active>
                <model>AdyenPaymentCcFacade</model>
                <title>Credit Card</title>
                <allowspecific>0</allowspecific>
                <sort_order>2</sort_order>
                <cctypes>AE,VI,MC,DI</cctypes>
                <useccv>1</useccv>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_authorize_3d>1</can_authorize_3d>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <threeds2_enabled>1</threeds2_enabled>
                <group>adyen</group>
            </adyen_cc>
            <adyen_cc_vault>
                <model>AdyenPaymentCcVaultFacade</model>
                <title>Stored Cards (Adyen)</title>
                <instant_purchase>
                    <available>Adyen\Payment\Model\InstantPurchase\CreditCard\AvailabilityChecker</available>
                    <tokenFormat>Adyen\Payment\Model\InstantPurchase\CreditCard\TokenFormatter</tokenFormat>
                </instant_purchase>
            </adyen_cc_vault>
            <adyen_oneclick>
                <active>1</active>
                <model>AdyenPaymentOneclickFacade</model>
                <title>Adyen Stored Payment Methods</title>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <cctypes>AE,VI,MC,DI</cctypes> <!-- important to show the payment method isAvailabe()-->
                <recurring_payment_type>ONECLICK</recurring_payment_type>
                <payment_action>authorize</payment_action>
                <useccv>1</useccv>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_authorize_3d>1</can_authorize_3d>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <group>adyen</group>
            </adyen_oneclick>
            <adyen_hpp>
                <active>0</active>
                <model>AdyenPaymentHppFacade</model>
                <order_status>pending</order_status>
                <title>Alternative payment methods</title>
                <allowspecific>0</allowspecific>
                <ratepay_id>oj9GsQ</ratepay_id>
                <sort_order>3</sort_order>
                <payment_action>authorize</payment_action>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <group>adyen</group>
            </adyen_hpp>
            <adyen_pos_cloud>
                <active>0</active>
                <model>AdyenPaymentPosCloudFacade</model>
                <order_status>pending</order_status>
                <title>Adyen POS Cloud API</title>
                <allowspecific>0</allowspecific>
                <sort_order>6</sort_order>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <pos_timeout>30</pos_timeout>
                <total_timeout>120</total_timeout>
                <recurring_type>NONE</recurring_type>
                <group>adyen</group>
            </adyen_pos_cloud>
            <adyen_pay_by_mail>
                <active>0</active>
                <model>AdyenPaymentPayByMailFacade</model>
                <order_status>pending</order_status>
                <title>Adyen PayByMail</title>
                <allowspecific>0</allowspecific>
                <sort_order>7</sort_order>
                <session_validity>3</session_validity>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>0</can_use_checkout>
                <can_initialize>1</can_initialize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <group>adyen</group>
            </adyen_pay_by_mail>
            <adyen_boleto>
                <active>0</active>
                <model>AdyenPaymentBoletoFacade</model>
                <title>Boleto</title>
                <allowspecific>0</allowspecific>
                <sort_order>8</sort_order>
                <payment_action>authorize</payment_action>
                <delivery_days>5</delivery_days>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <group>adyen</group>
            </adyen_boleto>
        </payment>
    </default>
</config>
