<?xml version="1.0"?>
<!--
/**
 *
 * Adyen Payment module (https://www.adyen.com/)
 *
 * Copyright (c) 2015 Adyen BV (https://www.adyen.com/)
 * See LICENSE.txt for license details.
 *
 * Author: Adyen <magento@adyen.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <type name="Magento\Checkout\Model\CompositeConfigProvider">
    <arguments>
      <argument name="configProviders" xsi:type="array">
        <item name="adyen_generic_config_provider" xsi:type="object">Adyen\Payment\Model\Ui\AdyenGenericConfigProvider</item>
        <item name="adyen_cc_config_provider" xsi:type="object">Adyen\Payment\Model\Ui\AdyenCcConfigProvider</item>
        <item name="adyen_oneclick_config_provider" xsi:type="object">Adyen\Payment\Model\Ui\AdyenOneclickConfigProvider</item>
        <item name="adyen_hpp_config_provider" xsi:type="object">Adyen\Payment\Model\Ui\AdyenHppConfigProvider</item>
        <item name="adyen_boleto_config_provider" xsi:type="object">Adyen\Payment\Model\Ui\AdyenBoletoConfigProvider</item>
        <item name="adyen_pos_cloud_config_provider" xsi:type="object">Adyen\Payment\Model\Ui\AdyenPosCloudConfigProvider</item>
      </argument>
    </arguments>
  </type>
  <type name="Adyen\Payment\Model\Ui\AdyenGenericConfigProvider">
    <arguments>
      <argument name="txVariants" xsi:type="array">
        <item name="adyen_ideal" xsi:type="const">Adyen\Payment\Model\Methods\Ideal::TX_VARIANT</item>
        <item name="adyen_klarna" xsi:type="const">Adyen\Payment\Model\Methods\Klarna::TX_VARIANT</item>
        <item name="adyen_paypal" xsi:type="const">Adyen\Payment\Model\Methods\Paypal::TX_VARIANT</item>
        <item name="adyen_bcmc_mobile" xsi:type="const">Adyen\Payment\Model\Methods\BcmcMobile::TX_VARIANT</item>
        <item name="adyen_dotpay" xsi:type="const">Adyen\Payment\Model\Methods\Dotpay::TX_VARIANT</item>
        <item name="adyen_amazonpay" xsi:type="const">Adyen\Payment\Model\Methods\AmazonPay::TX_VARIANT</item>
        <item name="adyen_googlepay" xsi:type="const">Adyen\Payment\Model\Methods\GooglePay::TX_VARIANT</item>
        <item name="adyen_multibanco" xsi:type="const">Adyen\Payment\Model\Methods\Multibanco::TX_VARIANT</item>
        <item name="adyen_facilypay_3x" xsi:type="const">Adyen\Payment\Model\Methods\Facilypay3x::TX_VARIANT</item>
        <item name="adyen_sepadirectdebit" xsi:type="const">Adyen\Payment\Model\Methods\SepaDirectDebit::TX_VARIANT</item>
        <item name="adyen_genericgiftcard" xsi:type="const">Adyen\Payment\Model\Methods\Genericgiftcard::TX_VARIANT</item>
        <item name="adyen_albelligiftcard" xsi:type="const">Adyen\Payment\Model\Methods\Albelligiftcard::TX_VARIANT</item>
        <item name="adyen_beautycadeaukaart" xsi:type="const">Adyen\Payment\Model\Methods\Beautycadeaukaart::TX_VARIANT</item>
        <item name="adyen_bijcadeaucard" xsi:type="const">Adyen\Payment\Model\Methods\Bijcadeaucard::TX_VARIANT</item>
        <item name="adyen_decadeaukaart" xsi:type="const">Adyen\Payment\Model\Methods\Decadeaukaart::TX_VARIANT</item>
        <item name="adyen_fashioncheque" xsi:type="const">Adyen\Payment\Model\Methods\Fashioncheque::TX_VARIANT</item>
        <item name="adyen_gallgall" xsi:type="const">Adyen\Payment\Model\Methods\Gallgall::TX_VARIANT</item>
        <item name="adyen_givex" xsi:type="const">Adyen\Payment\Model\Methods\Givex::TX_VARIANT</item>
        <item name="adyen_hmlingerie" xsi:type="const">Adyen\Payment\Model\Methods\Hmlingerie::TX_VARIANT</item>
        <item name="adyen_kadowereld" xsi:type="const">Adyen\Payment\Model\Methods\Kadowereld::TX_VARIANT</item>
        <item name="adyen_svs" xsi:type="const">Adyen\Payment\Model\Methods\Svs::TX_VARIANT</item>
      </argument>
    </arguments>
  </type>
  <type name="Magento\Vault\Model\Ui\TokensConfigProvider">
    <arguments>
      <argument name="tokenUiComponentProviders" xsi:type="array">
        <item name="adyen_cc" xsi:type="object">Adyen\Payment\Model\Ui\TokenUiComponentProvider</item>
        <item name="adyen_googlepay" xsi:type="object">Adyen\Payment\Model\Ui\TokenUiComponentProvider</item>
        <item name="adyen_hpp" xsi:type="object">Adyen\Payment\Model\Ui\PaymentMethodUiComponentProvider</item>
        <item name="adyen_paypal" xsi:type="object">Adyen\Payment\Model\Ui\PaymentMethodUiComponentProvider</item>
        <item name="adyen_klarna" xsi:type="object">Adyen\Payment\Model\Ui\PaymentMethodUiComponentProvider</item>
      </argument>
    </arguments>
  </type>
</config>
