<?xml version="1.0"?>
<!--
  ~                       ######
  ~                       ######
  ~ ############    ####( ######  #####. ######  ############   ############
  ~ #############  #####( ######  #####. ######  #############  #############
  ~        ######  #####( ######  #####. ######  #####  ######  #####  ######
  ~ ###### ######  #####( ######  #####. ######  #####  #####   #####  ######
  ~ ###### ######  #####( ######  #####. ######  #####          #####  ######
  ~ #############  #############  #############  #############  #####  ######
  ~  ############   ############  #############   ############  #####  ######
  ~                                      ######
  ~                               #############
  ~                               ############
  ~
  ~ Adyen Payment Module
  ~
  ~ Copyright (c) 2018 Adyen B.V.
  ~ This file is open source and available under the MIT license.
  ~ See the LICENSE file for more info.
  ~
  ~ Author: Adyen <magento@adyen.com>
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_sales_order_creditmemo_register_before">
        <observer name="adyen_credit_memo" instance="Adyen\Payment\Observer\AdyenCreditMemoObserver" />
    </event>
</config>
