<?xml version="1.0"?>
<!--
/**
 *
 * Adyen Payment module (https://www.adyen.com/)
 *
 * Copyright (c) 2023 Adyen N.V. (https://www.adyen.com/)
 * See LICENSE.txt for license details.
 *
 * Author: Adyen <magento@adyen.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="adyen_group_all_in_one" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Adyen Payments</label>
                <!-- Logo as css background -->
                <comment><![CDATA[Utilize the features offered by the Adyen payments platform in one integration. <br /><br />]]></comment>
                <attribute type="expanded">1</attribute>
                <attribute type="displayIn">recommended_solutions</attribute>
                <fieldset_css>adyen-payments complex</fieldset_css>
                <frontend_model>Adyen\Payment\Block\Adminhtml\System\Config\Fieldset</frontend_model>
                <include path="Adyen_Payment::system/adyen_getting_started.xml"/>
                <include path="Adyen_Payment::system/adyen_initial_setup.xml"/>
                <include path="Adyen_Payment::system/adyen_accepting_payments.xml"/>
                <include path="Adyen_Payment::system/adyen_order_management.xml"/>
                <include path="Adyen_Payment::system/adyen_payment_optimization.xml"/>
                <include path="Adyen_Payment::system/adyen_testing_performance.xml"/>
                <include path="Adyen_Payment::system/adyen_testing_refusal_reason.xml"/>
            </group>
        </section>
    </system>
</config>
