<?xml version="1.0"?>
<!--
/**
 *                       ######
 *                       ######
 * ############    ####( ######  #####. ######  ############   ############
 * #############  #####( ######  #####. ######  #############  #############
 *        ######  #####( ######  #####. ######  #####  ######  #####  ######
 * ###### ######  #####( ######  #####. ######  #####  #####   #####  ######
 * ###### ######  #####( ######  #####. ######  #####          #####  ######
 * #############  #############  #############  #############  #####  ######
 *  ############   ############  #############   ############  #####  ######
 *                                      ######
 *                               #############
 *                               ############
 *
 * Adyen Payment module (https://www.adyen.com/)
 *
 * Copyright (c) 2015 Adyen BV (https://www.adyen.com/)
 * See LICENSE.txt for license details.
 *
 * Author: Adyen <magento@adyen.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="adyen_group_all_in_one" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Adyen All-in-One Payment Solutions</label>
                <comment><![CDATA[Adyen All-in-One Payment Solutions]]></comment>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <include path="Adyen_Payment::system/adyen_getting_started.xml"/>
                <include path="Adyen_Payment::system/adyen_required_settings.xml"/>
                <include path="Adyen_Payment::system/adyen_advanced_order_processing.xml"/>
                <include path="Adyen_Payment::system/adyen_advanced_notifications.xml"/>
                <include path="Adyen_Payment::system/adyen_checkout_experience.xml"/>
                <include path="Adyen_Payment::system/adyen_manual_review.xml"/>
                <include path="Adyen_Payment::system/adyen_split_payment.xml"/>
                <include path="Adyen_Payment::system/adyen_security.xml"/>
                <include path="Adyen_Payment::system/adyen_cc.xml"/>
                <include path="Adyen_Payment::system/adyen_oneclick.xml"/>
                <include path="Adyen_Payment::system/adyen_hpp.xml"/>
                <include path="Adyen_Payment::system/adyen_pos_cloud.xml"/>
                <include path="Adyen_Payment::system/adyen_pay_by_mail.xml"/>
                <include path="Adyen_Payment::system/adyen_boleto.xml"/>
                <include path="Adyen_Payment::system/adyen_pwa.xml"/>
            </group>
        </section>
    </system>
</config>
