name: Release

# Default permissions for all jobs in this workflow
permissions:
  contents: read
  pull-requests: read

on:
#   Manual run from Github UI (e.g. for when a merged PR labels have changed)
  workflow_dispatch:
    inputs:
      pre-release:
        required: false
        type: boolean
        default: false
        description: "This release will be labeled as non-production ready"
        # Publish the current version now, useful if the automated run failed
      github-release:
        required: false
        type: boolean
        default: false
        description: "Publish Github release for the current version"
  # Monitor pull request events

  pull_request:
    types:
      - closed
    branches:
      - main

jobs:
  release:
    permissions:
      contents: write
      pull-requests: write
    if: >
      ${{
        github.event_name == 'workflow_dispatch' ||
        (
          github.event_name == 'pull_request' &&
          github.event.pull_request.merged == true
        )
      }}
    runs-on: ubuntu-latest
    timeout-minutes: 25
    steps:
      - uses: actions/checkout@1e31de5234b9f8995739874a8ce0492dc87873e2
      - name: Prepare the next main release
        uses: Adyen/release-automation-action@887512d88d0208b206357b36efce616e542a8528
        with:
          token: ${{ secrets.ADYEN_RELEASE_AUTOMATION_USER_TOKEN }}
          develop-branch: main
          version-files: composer.json
          release-title: Adyen Magento-2 Plugin
          pre-release: ${{ inputs.pre-release || false }}
          github-release: ${{ inputs.github-release || false }}
          separator: .pre.beta
