name: Main CI workflow

on:
  push:
    branches: [main-9]
  pull_request:
  workflow_dispatch:

# Default minimal permissions
permissions:
  contents: read

jobs:
  build:
    if: github.event_name == 'workflow_dispatch' ||
      github.event_name == 'push' ||
      (github.event_name == 'pull_request' &&
      github.event.pull_request.head.repo.full_name == github.repository)

    strategy:
      matrix:
        php-version: ["8.2", "8.3"]

    runs-on: ubuntu-latest
    timeout-minutes: 25

    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@1e31de5234b9f8995739874a8ce0492dc87873e2

      - name: Use PHP ${{ matrix.php-version }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer:v2

      - name: Test plugin installation
        run: |
          echo "{\"http-basic\":{\"repo.magento.com\":{\"username\":\"${MAGENTO_USERNAME}\",\"password\":\"${MAGENTO_PASSWORD}\"}}}" > auth.json
          composer install --prefer-dist
        env:
          CI: true
          MAGENTO_USERNAME: ${{ secrets.MAGENTO_USERNAME }}
          MAGENTO_PASSWORD: ${{ secrets.MAGENTO_PASSWORD }}

      - name: Code Sniffer
        run: vendor/bin/phpcs .

      - name: Run PHPUnit
        run: vendor/bin/phpunit --coverage-clover=build/clover.xml --log-junit=build/tests-log.xml -c Test/phpunit.xml Test/Unit

      - name: Fix code coverage paths
        run: sed -i "s;`pwd`/;;g" build/*.xml

      - name: SonarCloud Scan
        if: ${{ env.SONAR_TOKEN }}
        uses: SonarSource/sonarqube-scan-action@5ac2dded753b8b299a5f54918aa4e9f25d7c57a5 # pinned instead of "master"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
