name: Functional Tests
on:
  workflow_dispatch:
  pull_request:
    branches: [main, main-9]

jobs:
  build-mftf:
    if: >
      ${{
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository)
      }}
    environment: internal
    strategy:
      matrix:
        include:
          - php-version: '8.3'
            magento-version: '2.4.8-p3'
    runs-on:
      group: larger-runners
      labels: ubuntu-latest-8-cores
    timeout-minutes: 25
    permissions:
      contents: read
    env:
      PHP_VERSION: ${{ matrix.php-version }}
      MAGENTO_VERSION: ${{ matrix.magento-version }}
      ADMIN_USERNAME: ${{ secrets.MAGENTO_ADMIN_USERNAME }}
      ADMIN_PASSWORD: ${{ secrets.MAGENTO_ADMIN_PASSWORD }}
      DONATION_ACCOUNT: ${{ secrets.DONATION_ACCOUNT }}
      ADYEN_MERCHANT: ${{ secrets.ADYEN_MERCHANT }}
      ADYEN_API_KEY: ${{ secrets.ADYEN_API_KEY }}
      ADYEN_CLIENT_KEY: ${{ secrets.ADYEN_CLIENT_KEY }}
      ADMIN_URLEXT: admin
      USE_SSL: 0

    steps:
      - uses: actions/checkout@1e31de5234b9f8995739874a8ce0492dc87873e2
        with:
          ref: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}

      - name: Install Magento
        run: docker compose -f .github/docker-compose.yml run --rm web make magento

      - name: Start web server in background
        run: docker compose -f .github/docker-compose.yml up -d web

      - name: Start Selenium in background
        run: docker compose -f .github/docker-compose.mftf.yml up -d

      - name: Setup permissions
        run: docker exec magento2-container make fs

      - name: Kill Cron Jobs
        run: docker exec magento2-container /etc/init.d/cron stop

      - name: Install plugin without configuring it
        run: docker exec -u www-data magento2-container make install

      - name: Build MFTF project
        run: docker exec magento2-container make setup-mftf

      - name: Run MFTF tests
        run: docker exec magento2-container make mftf
